#square{
    width:110px;
    height:25px;
    background-color: black;
}
#square h4{
    color: red;
}

#nemo{
    width:130px;
    height:20px;
    background-color: red;
}
#nemo h5{
    color: black;
}

h1{
    color: red;
    font-size: 50px;
}
